## .NET
bin/
obj/
*.user
*.suo
.vs/
*.userosscache
*.sln.docstates

## Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]uild/
[Pp]ublish/

## NuGet
*.nupkg
*.snupkg
.nuget/
packages/
!**/packages/build/
project.lock.json
project.fragment.lock.json
artifacts/

## Rider / VS
.idea/
*.DotSettings.user

## Secrets / env
appsettings.Development.json
appsettings.Local.json
secrets.json
